@model AddMobileViewModel

<h1>Add Mobile</h1>
<hr />


<form asp-action="AddMobile" asp-controller="Mobile" method="post">

    <div class="form-group">


        <label asp-for="MobileName"></label>
        <input type="text" asp-for="MobileName" class="form-control" />
        <span asp-validation-for="MobileName" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="MobileAmount"></label>
        <input type="text" asp-for="MobileAmount" class="form-control" />
        <span asp-validation-for="MobileAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Manufacturer</label>
        <select class="form-control" asp-for="ManufacturerId" asp-items="@Model.ManufacturerList"></select>
        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
